<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="OrderMapper">
	<resultMap id="customerOrder" type="customerOrder">
		<id column="customer_order_id" property="customerOrderId" />
		<result column="customer_order_customer_id" property="customerOrderCustomerId" />
		<result column="customer_order_customer_address" property="customerOrderCustomerAddress" />
		<result column="customer_order_customer_tel" property="customerOrderCustomerTel" />
		<result column="customer_order_status" property="customerOrderStatus" />
		<result column="customer_order_time" property="customerOrderTime" />
	</resultMap>

	<resultMap id="vendorOrder" type="vendorOrder">
		<id column="vendor_order_id" property="vendorOrderId" />
		<result column="vendor_order_vendor_id" property="vendorOrderVendorId" />
		<result column="vendor_order_customer_order_id" property="vendorOrderCustomerOrderId" />
		<result column="vendor_order_time" property="vendorOrderTime" />
	</resultMap>

	<resultMap id="orderItem" type="orderItem">
		<id column="order_item_id" property="orderItemId" />
		<result column="order_item_vendor_order_id" property="orderItemVendorOrderId" />
		<result column="order_item_food_id" property="orderItemFoodId" />
		<result column="order_item_food_count" property="orderItemFoodCount" />
		<result column="order_item_status" property="orderItemStatus" />
	</resultMap>

	<insert id="saveCustomerOrder" parameterType="customerOrder"
		useGeneratedKeys="true" keyProperty="customerOrderId">
		INSERT INTO customer_orders
		(customer_order_customer_id, customer_order_customer_address,
		customer_order_customer_tel,
		customer_order_status,
		customer_order_time)
		VALUES(#{customerOrderCustomerId},
		#{customerOrderCustomerAddress}, #{customerOrderCustomerTel},
		#{customerOrderStatus}, #{customerOrderTime})
	</insert>

	<insert id="saveVendorOrder" parameterType="vendorOrder"
		useGeneratedKeys="true" keyProperty="vendorOrderId">
		INSERT INTO vendor_orders
		(vendor_order_vendor_id, vendor_order_customer_order_id,
		vendor_order_time)
		VALUES(#{vendorOrderVendorId},
		#{vendorOrderCustomerOrderId}, #{vendorOrderTime})
	</insert>

	<insert id="saveOrderItem" parameterType="orderItem"
		useGeneratedKeys="true" keyProperty="orderItemId">
		INSERT INTO order_items
		(order_item_vendor_order_id, order_item_food_id,
		order_item_food_count, order_item_status)
		VALUES(#{orderItemVendorOrderId}, #{orderItemFoodId},
		#{orderItemFoodCount}, #{orderItemStatus})
	</insert>

	<select id="getCustomerOrdersByCustomerId" parameterType="map"
		resultMap="customerOrder">
		SELECT * FROM customer_orders WHERE
		customer_order_customer_id = #{customerOrderCustomerId} AND
		customer_order_time &gt; #{minDay}
	</select>
	
	<select id="getCustomerOrderById" parameterType="int" resultMap="customerOrder">
		SELECT * FROM customer_orders WHERE
		customer_order_id = #{customerOrderId}
	</select>

	<select id="getVendorOrdersByOrderId" parameterType="long"
		resultMap="vendorOrder">
		SELECT * FROM vendor_orders WHERE
		vendor_order_customer_order_id = #{customerOrderId}
	</select>
	
	<select id="getVendorOrdersByVendorId" parameterType="map"
		resultMap="vendorOrder">
		SELECT * FROM vendor_orders WHERE
		vendor_order_vendor_id = #{vendorId} AND
		vendor_order_time &gt; #{minTime}
		
	</select>

	<select id="getOrderItemsByVenderOrderId" parameterType="long"
		resultMap="orderItem">
		SELECT * FROM order_items WHERE order_item_vendor_order_id =
		#{vendorOrderId}
	</select>
</mapper>