<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dingcan?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">ytb123</property>
    <property name="connection.userUnicode">true</property>
    <property name="connection.characterEncoding">utf-8</property>
    <property name="current_session_context_class">thread</property>
    <mapping resource="com/yizhiyun/dingcan/Feedbacks.hbm.xml"/>
    <mapping resource="com/yizhiyun/dingcan/Food.hbm.xml"/>
    <mapping resource="com/yizhiyun/dingcan/VendorOrders.hbm.xml"/>
    <mapping resource="com/yizhiyun/dingcan/Customers.hbm.xml"/>
    <mapping resource="com/yizhiyun/dingcan/Vendors.hbm.xml"/>
    <mapping resource="com/yizhiyun/dingcan/CustomerOrders.hbm.xml"/>
    <mapping resource="com/yizhiyun/dingcan/OrderItems.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
